In [1]:
# 예제 2.5
# U(0, 1)은 0 부터 1사이에 균일한 분포확률을 가지므로 f(x) = 1, 0 <x<1이다.
# U(0, 1)에서 100개의 난수를 생성하여 이들의 평균을 계산해 보면 0.4954645로 0.5에 근접한 값이 얻어짐을 알 수 있다.

In [2]:
dunif(1)

[1] 1

In [3]:
punif(0.5)

[1] 0.5

In [4]:
mean(runif(100))

[1] 0.4961634

In [5]:
# 2.5 정규분포

In [6]:
# 예제2.6
# 통계학의 표준정규분포에서 Za를 제 100(1-alpha)% 백분위수로 표시한다. 예를 들어,  z0.05는 제 95% 백분위수이다.

In [7]:
qnorm(0.025)

[1] -1.959964

In [8]:
dnorm(c(-1,0,1))

[1] 0.2419707 0.3989423 0.2419707

In [9]:
pnorm(c(-2.54, -.196, 0, 1.96, 2.54))

[1] 0.005542623 0.422305083 0.500000000 0.975002105 0.994457377

In [11]:
# 예제 2.7
# 평균이 mu, 분산이 sigma^2인 정규분포로부터 독립인 n개의 자료를 얻어서 평균을 얻으면
# 평균의 분포는 개닷값 mu, 분산 sigma^2/n인 정규분포를 따른다.
# 예를 들어, 평균이 0, 분산이 5인 10개의 자료에서 평균을 계산하면 이 표본평균은 기댓값 0,  분산 5/10=0.5인 정규분포를 따른다.
# 이를 확인하기 위해 10개의 정규분포 난수에서 평균을 얻는 것을 1,000번 반복하여 이 1,000개의 평균들의 평균과 분산을 계산해보자.

In [12]:
z.mean <- function(nn=10, nrep=1000){ #z.mean.r
    xbar <- rep(0, nrep)
    stdev <- sqrt(5)
    for (i in 1:nrep){
        xbar[i] <- mean(rnorm(nn, 0 , stdev))
    }
    list(meanxbar=mean(xbar), varxbar=var(xbar))
}
z.mean()

$meanxbar
[1] -0.01493094

$varxbar
[1] 0.4442165

In [14]:
# 예제 2.8
# 표준정규분포로부터의 난수 1,000개를 발생하여 이를 히스토그램을 그려 보자.